<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lhztEIshPoEnnv8kTtOtpx28dVwO3tZ3" />

        <activity android:name=".HelloWorld"></activity>
        <activity android:name=".APicture"></activity>
        <activity android:name=".GetResolution"></activity>
        <activity android:name=".ChangePicture"></activity>
        <activity android:name=".showheart"></activity>
        <activity android:name=".TelLayout"></activity>
        <activity android:name=".QQLoginLayout"></activity>
        <activity android:name=".LoginLayout"></activity>
        <activity android:name=".ChangeColorActivity"></activity>
        <activity android:name=".RelativeLayout"></activity>
        <activity android:name=".CalculatorLayout"></activity>

        <activity android:name=".LinktoTelNum"></activity>
        <activity android:name=".RadioButton"></activity>
        <activity android:name=".Message60seconds"></activity>
        <activity android:name=".BALLSHOW"></activity>
        <activity android:name=".PhoneCallAttribution"></activity>
        <activity android:name=".CookBook"></activity>
        <activity android:name=".CookDetails"></activity>
        <activity android:name=".QQInnerLayout"></activity>
        <activity android:name=".EducationalLevel_spinner"></activity>
        <activity android:name=".Advertisement"></activity>
        <activity android:name=".City"></activity>
        <activity android:name=".ProvinceCity"></activity>
        <activity android:name=".SendMsgPhoneCall"></activity>
        <activity android:name=".GetLinkMan"></activity>
        <activity android:name=".ConfigurationActivity"></activity>
        <activity android:name=".Download"></activity>
        <activity android:name=".PicBigSmall"></activity>
        <activity android:name=".ChangePicLR"></activity>
        <activity android:name=".GestureActivity"></activity>
        <activity android:name=".GestureActivity2"></activity>
        <activity android:name=".UploadStuInfo"></activity>
        <activity android:name=".StockActivity"></activity>
        <activity android:name=".ShakeShake"></activity>
        <activity android:name=".CompassActivity"></activity>
        <activity android:name=".DialogActivity"></activity>
        <activity android:name=".DateChooser"></activity>
        <activity android:name=".DateChooser2"></activity>
        <activity android:name=".TabHostActivity"></activity>
        <activity android:name=".MenuActivity"></activity>
        <activity android:name=".VideoViewActivity"></activity>
        <activity android:name=".MediaRecorderActivity"></activity>
        <activity android:name=".InternationalHello"></activity>
        <activity android:name=".MainActivity"></activity>


        <activity android:name=".Board"></activity>
        <activity android:name=".Bomb"></activity>
        <activity android:name=".QQlogin"></activity>
        <activity android:name=".QQlogin2"></activity>

        <activity android:name=".PlaneShow"></activity>
        <activity android:name=".VideoRecoder"></activity>
        <activity android:name=".BaiduMap"></activity>
        <activity android:name=".GPSLocation"></activity>
        <activity android:name=".FileBrowser"></activity>
        <activity android:name=".Dictionary"></activity>
        <activity android:name=".Speaker"></activity>
        <activity android:name=".Switch3seconds"></activity>
        <activity android:name=".GridViewActivity"></activity>

        <activity android:name=".main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>